In [1]:
import pandas as pd
import numpy as np

In [3]:
toxicity_annotated_comments = pd.read_csv("../wiki_data/toxicity_annotated_comments.tsv", delimiter="\t")
toxicity_annotated_comments.set_index("rev_id", inplace=True)
toxicity_annotations = pd.read_csv("../wiki_data/toxicity_annotations.tsv", delimiter="\t")
toxicity_annotations["id"] = toxicity_annotations["worker_id"].astype(str) + '_' + toxicity_annotations["rev_id"].astype(str)
toxicity_annotations.set_index("id", inplace=True)
toxicity_worker_demographics = pd.read_csv("../wiki_data/toxicity_worker_demographics.tsv", delimiter="\t")
toxicity_worker_demographics.set_index("worker_id", inplace=True)

In [19]:
best_workers_index = toxicity_annotations['worker_id'].value_counts().index[:500]

In [30]:
best_workers = toxicity_worker_demographics.iloc[best_workers_index]
best_workers

           gender  english_first_language age_group     education
worker_id
544          male                       0     18-30            hs
1078         male                       0     45-60       masters
67           male                       0     30-45  professional
545          male                       0     18-30       masters
2460         male                       0     18-30            hs
...           ...                     ...       ...           ...
2717         male                       0     30-45     bachelors
1681       female                       1     30-45            hs
3438         male                       1     18-30     bachelors
1002       female                       0     18-30     bachelors
3937         male                       0     30-45  professional

[500 rows x 4 columns]

In [31]:
rated_works = toxicity_annotations[toxicity_annotations['worker_id'].isin(best_workers_index)]
rated_works

                       rev_id  worker_id  toxicity  toxicity_score
id
723_2232.0             2232.0        723         0             0.0
405_2232.0             2232.0        405         0             1.0
257_4216.0             4216.0        257         0             0.0
303_4216.0             4216.0        303         0             1.0
102_26547.0           26547.0        102         0             0.0
...                       ...        ...       ...             ...
865_699843603.0   699843603.0        865         0             0.0
998_699848324.0   699848324.0        998         0             0.0
1022_699891012.0  699891012.0       1022         0             0.0
1025_699897151.0  699897151.0       1025         0             1.0
468_699897151.0   699897151.0        468         0             1.0

[233636 rows x 4 columns]

In [28]:
ratings = np.zeros((len(best_workers_index), rated_works.shape[0]))

In [29]:
ratings

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])